*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 1.6rem;
    line-height: 2;
    background-color: #e1e1e1;
}

header{
    text-align: center;
    border: solid seagreen;
    max-width: 80%;
    margin: 0 auto;
}

header h1,h2{
    color: darkcyan;
    
}
header h1 span{
    color: red;
}

main{
    margin-top: 2rem;
    text-align: center; 
}

main p b, p i{
    font-size: 2rem;
    font-weight: 700;
}
main img{
    
    align-items: center;
    border-radius: 2rem;
    height: 20rem;
}

.flex{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    
}
.flex section{ 
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: darkslategray dotted;
    
}
.flex section a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffff;
    background-color: blue;
    border-radius: .5rem;
    font-size: 2rem;
    
}
.flex section a:hover{
    background-color: darkslateblue;
}

footer{
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
    max-width: 80%;
}
footer h4{
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: .01em;
    font-family: 'Times New Roman', Times, serif;
}

