#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
}

/* html{
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
} */
*, *:before, *:after {
  box-sizing: inherit;
}

.header-h1{
  color: blue;
  letter-spacing: .03em;
  border: 5px solid;
  margin-bottom: 10px;
}

.header-h3{
  color: red;
  letter-spacing: .03em;
  border: 5px solid;
}
